.wave-1, .wave-2, .wave-3 {
    position: absolute;
    bottom:0;
    top:0;
}

#wave-1 {
    // fill: #1d5c86;
    // fill: rgb(0,63,145)
    fill: rgba(72,190,255,1);
}

#wave-2 {
    // fill: rgba(1,111,185, 0.8);
    fill: rgba(114,205,255,0.9);
}

#wave-3 {
    fill: rgba(143,210,247,0.8);
}

.wave-1 {
    z-index: 20;
}

.wave-2 {
    z-index: 30;
}

.wave-3 {
    z-index: 40;
}

.beach {
    position: relative;
}

.cloudy {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    filter: grayscale(1) brightness(50%);
    z-index: 10;
    display: none;
}

.lightning {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: $secondary-color-1;
    z-index: 11;
    animation: flash 4s infinite;
    display: none;
}

@keyframes flash {
    from { opacity: 0; } 
    15% { opacity: 0; }
	20% { opacity: 0.6; }
    21% { opacity: 0.2; }
    22% { opacity: 0.9; } 
    23% { opacity: 0; }
	to { opacity: 0; }
}

.exit svg {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px 30px 0 0;
    fill: $secondary-color-1;
    width: 50px;
    z-index: 40;
    cursor: pointer;
}