fieldset {
    border: none;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../assets/background-image.png);
}

form {
    background: white;
    padding: 100px 50px;
    border-radius: 20px;
    font-family: 'Noto Sans', sans-serif;
    color: #2a2e45;
    width: 600px;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    color: #2a2e45;
    font-size: 6rem;
    font-family: 'Staatliches', cursive;
    margin: 0;
}

p {
    font-family: 'Noto Sans', sans-serif;
    color: #2a2e45;
    font-size: 1.5rem;
}

label {
    position: relative;
    padding: 100px 47.5px 20px;
    width: 80px;
    height: 55px;
    text-align: center;
    border: 3px solid #ff7e6b;
    border-radius: 50%;
    margin: 30px 2px 0;
    color: #ff7e6b;
    cursor: pointer;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

input[type="checkbox"]:checked + label {
    background: #ff7e6b;
    color: white;
    svg {
        fill: white;
    }
    g {
        stroke: white;
        circle {
            stroke: white;
        }
    }
    .sun-storm {
            color: white;
            text-decoration-color: white;
            // solid-color: #ff7e6b;
            fill: white;
    }
    path {
        stroke: white;
    }
}
input[type="radio"] {
    opacity: 0;
    position: absolute;
}

form svg {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    fill: #ff7e6b;
    g {
        stroke: #ff7e6b;
        circle {
            stroke: #ff7e6b;
        }
    }
    .sun-storm {
            color: #ff7e6b;
            text-decoration-color: #ff7e6b;
            // solid-color: #ff7e6b;
            fill: #ff7e6b;
    }
    path {
        stroke: #ff7e6b;
    }
}

legend {
    text-align: center;
    width: 100%;
    font-family: 'Staatliches', cursive;
    font-size: 2.5rem;
}

input[type="radio"]:checked + label {
    background: #ff7e6b;
    color: white;
    svg {
        fill: white;
    }
    g {
        stroke: white;
        circle {
            stroke: white;
        }
    }
    .sun-storm {
            color: white;
            text-decoration-color: white;
            // solid-color: #ff7e6b;
            fill: white;
    }
    path {
        stroke: white;
    }
}

input[type="radio"]:focus + label {
    box-shadow: 0 0 20px #ff7e6b;
}

input[type="checkbox"]:focus + label {
    box-shadow: 0 0 20px #ff7e6b;
}

input[type="submit"] {
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    background: none;
    border: none;
    
}



// label[for="gentle-swell"]::before{
//     @include label-icon(url(../assets/swell-icon.svg));
// }