article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body {
  margin: 0;
  font-size: 125%; }

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../assets/background-image.png); }

.wrapper {
  width: 800px;
  margin: 0 auto; }
  .wrapper p {
    margin: 15px 0; }

h1 {
  font-family: "Staatliches", cursive;
  text-align: center;
  font-size: 6rem;
  color: #2a2e45;
  margin: 0;
  margin-top: 50px; }

p {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: #2a2e45;
  font-size: "Noto Sans", sans-serif;
  margin: 0; }

form {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  color: #2a2e45;
  font-size: "Noto Sans", sans-serif;
  background: white;
  padding: 80px 50px;
  border-radius: 20px;
  width: 600px;
  margin: 30px auto 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

fieldset {
  border: none;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

fieldset p {
  width: 100%; }

legend {
  font-family: "Staatliches", cursive;
  text-align: center;
  font-size: 2.5rem;
  color: #2a2e45;
  width: 100%; }

label {
  position: relative;
  padding: 80px 30px 30px;
  width: 155px;
  height: 155px;
  border: 3px solid #2a2e45;
  border-radius: 50%;
  margin: 30px 1px 0;
  color: #2a2e45;
  cursor: pointer;
  opacity: .6; }

label:hover {
  opacity: 1; }

form svg {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 5%;
  left: 0;
  fill: #2a2e45; }
  form svg g {
    stroke: #2a2e45; }
    form svg g circle {
      stroke: #2a2e45; }
  form svg .sun-storm {
    fill: #2a2e45; }
  form svg path {
    stroke: #2a2e45; }

input[type="checkbox"], input[type="radio"] {
  opacity: 0;
  position: absolute; }

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
  background: #2a2e45;
  color: white;
  opacity: 1; }
  input[type="checkbox"]:checked + label svg, input[type="radio"]:checked + label svg {
    fill: white; }
  input[type="checkbox"]:checked + label g, input[type="radio"]:checked + label g {
    stroke: white; }
    input[type="checkbox"]:checked + label g circle, input[type="radio"]:checked + label g circle {
      stroke: white; }
  input[type="checkbox"]:checked + label .sun-storm, input[type="radio"]:checked + label .sun-storm {
    color: white;
    -webkit-text-decoration-color: white;
    text-decoration-color: white;
    fill: white; }
  input[type="checkbox"]:checked + label path, input[type="radio"]:checked + label path {
    stroke: white; }

input[type="radio"]:focus + label, input[type="checkbox"]:focus + label {
  -webkit-box-shadow: 0 0 20px #2a2e45;
  box-shadow: 0 0 20px #2a2e45; }

input[type="submit"] {
  font-family: "Staatliches", cursive;
  text-align: center;
  font-size: 2rem;
  color: #ff7e6b;
  background: white;
  padding: 5px 20px;
  border: 3px solid #ff7e6b;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

input[type="submit"]:hover {
  background: #ff7e6b;
  color: white; }

@media (max-width: 820px) {
  .wrapper {
    width: 90%; } }

@media (max-width: 650px) {
  form {
    width: 80%; }
  fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media (max-width: 414px) {
  h1 {
    font-size: 4.5rem; }
  p {
    font-size: 1.2rem; }
  form {
    padding: 50px 20px;
    margin-bottom: 50px;
    width: 90%; }
  fieldset {
    margin-bottom: 50px; }
  legend {
    font-size: 2rem; }
  input[type="submit"] {
    font-size: 1.8rem; } }

.wave-1, .wave-2, .wave-3 {
  position: absolute;
  bottom: 0;
  top: 0; }

.wave-1-path {
  fill: #48beff; }

.wave-2-path {
  fill: rgba(114, 205, 255, 0.9); }

.wave-3-path {
  fill: rgba(143, 210, 247, 0.8); }

.wave-1 {
  z-index: 20; }

.wave-2 {
  z-index: 30; }

.wave-3 {
  z-index: 40; }

.beach {
  position: relative; }

.cloudy {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-filter: grayscale(1) brightness(50%);
  filter: grayscale(1) brightness(50%);
  z-index: 10;
  display: none; }

.lightning {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 11;
  -webkit-animation: flash 4s infinite;
  animation: flash 4s infinite;
  display: none; }

@-webkit-keyframes flash {
  0% {
    opacity: 0; }
  15% {
    opacity: 0; }
  20% {
    opacity: 0.6; }
  21% {
    opacity: 0.2; }
  22% {
    opacity: 0.9; }
  23% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes flash {
  0% {
    opacity: 0; }
  15% {
    opacity: 0; }
  20% {
    opacity: 0.6; }
  21% {
    opacity: 0.2; }
  22% {
    opacity: 0.9; }
  23% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.exit svg {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px 30px 0 0;
  fill: white;
  width: 50px;
  z-index: 40;
  cursor: pointer; }
